Package: com.virtualcam.tweak
Name: VirtualCam
Version: 1.0.5
Architecture: iphoneos-arm64
Description: Virtual Camera for iOS system-wide & USB Streaming with Floating HUD
Maintainer: VirtualCam Dev
Author: VirtualCam Dev
Section: Tweaks
