Package: com.virtualcam.tweak
Name: VirtualCam
Version: 1.0.3
Architecture: iphoneos-arm64
Description: Virtual Camera for iOS system-wide
Maintainer: VirtualCam Dev
Author: VirtualCam Dev
Section: Tweaks
Tag: role::hacker
